asgiref==3.8.1
dj-database-url==2.3.0
Django==5.2
django-multiselectfield==0.1.13
gunicorn==23.0.0
packaging==24.2
psycopg2-binary==2.9.10
sqlparse==0.5.3
typing_extensions==4.13.1
whitenoise==6.9.0
annotated-types
attrs
autocommand
btrfsutil
colorama
cryptography
distro
filelock
Glances
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
kazam
more-itertools
orjson
packaging
pillow
platformdirs
psutil
pyaml
pycairo
pycparser
pycups
pydantic
pydantic_core
PyGObject
PyQt5
PyQt5_sip
pyxdg
PyYAML
Reflector
setuptools
shtab
smbus
TBB
termcolor
tldr
typing_extensions
wheel
