/* Light Grey Theme for Django Admin */
:root {
    --primary-bg:  #F4F4F4;  /* Light Grey */
    --secondary-bg:  #F4F4F4; /* Softer Grey */
    --text-color:   #F4F4F4;   /* Dark Grey for Contrast */
}
body, .module {
    background-color: var(--primary-bg) !important;
    color: var(--text-color) !important;
}
.module caption, .module h2 {
    background-color: var(--secondary-bg) !important;
    color: var(--text-color) !important;
}

#header {
    background-color: var(--secondary-bg) !important;
    color: var(--text-color) !important;
}

.button, .submit-row input {
    background-color: #6c757d !important; /* Grey Button */
    color: white !important;
} 



a:hover {
    color: #3F51B5 !important;
}


nav .breadcrumbs{
    background-color: #3F51B5 !important;
}
