


{% load static %}







<footer>
    <div class="container-fluid" style="background: rgba(0, 84, 148, 0.06); ;">
        <div class="container relative">
            <div class="foot">
                <div class="row">
                    <div class="col-lg-4 mt-5">
                        <div class="mb-4 footer-logo-wrap" id=><a href="/index.html" id="pak" class="footer-logo">
                                <img src="{% static 'image/nav/aa.png' %}" style="height: 120px;" alt>
                            </a></div>
                        <p class="mb-4" id="ot">Musa's Mart was established in 2021 to alleviate and bring
                            awareness to excessive purchasing, over spending and its effect on climate change.
                            Musa's Mart is a member of Revision AI Limited. </p>
                        <div class="social-icons">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-youtube"></a>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7 mt-5">
                        <div class="row links-wrap">
                            <div class="col-6 col-sm-6 col-md-3">
                                <ul class="list-unstyled" style="line-height: 50px;">
                                    <h6
                                        style="font-family: Poppins; font-size: 20px; font-weight: 600; line-height: 30px; text-align: left; color: rgba(0, 84, 148, 1);">
                                        Musa's Mart</h6>
                                    <li><a href="#" style="color:black; text-decoration: none;">
                                            Product</a></li>
                                    <li><a href="#" style="text-decoration: none; color:black;">
                                           Category  </a></li>
                                    <li><a href="#" style="text-decoration: none; color:black;">FAQs</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-sm-6 col-md-5">
                                <div class="footer_contact_text">
                                    <p> Term of use </a></p>
                                    <p>Privacy policy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="mt-0 pt-3 pb-3" style="background-color: rgba(0, 84, 148, 0.06);">
    <p class="text-center mt-0 mb-0"> </p>
</div>